
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    border: none;
    outline: none;
}

:root{
    --red: #ff004f;
}

*::selection{
    background: var(--red);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background: #f7f7f7;
}

section{
    padding: 2rem 8%;
}

.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    text-decoration: none;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before{
   width: 100%;
   left: 0;
}

.btn:hover{
    color: #fff;
}

hr{
    border: 2px solid cyan;
}
/*-----------Header---------Section-----------Start-----------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0.5rem 1rem  #2e2d2d1a;
    z-index: 1000;
}

header .logo{
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #25a244;
    text-decoration: none;
}

header .logo i{
    padding: .5rem;
    color: var(--red);
}

header .navbar a{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 2rem;
    color: #25a244;
    text-decoration: none;
    transition: 0l.2s;
}

header .navbar a:hover{
    color: var(--red);
}

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

.heading{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: sans-serif;
    padding: 4rem;
    color: #25a244;
}

.heading span{
    color: #ff004f;  
}
/*-----------Header---------Section-----------End-----------*/




/*-----------Home---------Section-----------Start-----------*/
.Home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(Img/Home.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.Home .image{
    flex: 1 1 40rem;  
}

.Home .image img{
    width: 100%;
    padding: 1rem;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }

    50%{
        transform: translateY(3rem);
    }
}

header .navbar a{
    font-size: 2.7rem;
}

.Home .content h3{
    font-size: 5rem;
    font-style: italic;
    font-weight: 700;
    font-family: sans-serif;
    color: #25a244;
}

.Home .content h3 span{
    color: #ff004f;
    font-family: none;
}

.Home .content p{
    font-size: 1.9rem;
    font-family: sans-serif;
    font-weight: 500;
    padding: 1rem 0;
}
/*-----------Home---------Section-----------End-----------*/



/*-----------Spceility---------Section-----------Start-----------*/
.Spceility .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Spceility .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
    border: 1ps solid rgba(0,0,0.1);
    cursor: pointer;
    border-radius: .5rem;
}

.Spceility .box-container .box .image{
    height: 1005;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.Spceility .box-container .box:hover .image{
    top: 0;
}

.Spceility .box-container .box .content{
    text-align: center;
    background: #fff;
    padding: 2rem;
}

.Spceility .box-container .box:hover .content{
    transform: translateY(100%);
}

.Spceility .box-container .box .content img{
    margin: 1.3rem 0;
}

.Spceility .box-container .box .content h3{
    font-size: 2.5rem;
    color: #25a244;
    padding-bottom: 1rem;
    font-family: sans-serif;
}
  
.Spceility .box-container .box .content p{
    font-size: 2rem;
    color: #000000;
    font-size: 600;
    font-style: italic;
}
/*-----------Spceility---------Section-----------End-----------*/




/*-----------Populala---------Section-----------Start-----------*/
.Popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Popular .box-container .box{
    padding: 2rem;
    background: #ffff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
    border: .1rem solid rgba(0,0,0.3);
    border-radius: .5rem;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
}

.Popular .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    transition: 0.3s;
    cursor: pointer;
}

.Popular .box-container .box:hover img{
   transform: scale(1.1);
}

.Popular .box-container .box .prise{
    position: absolute;
    top: 3rem;
    left: 3rem;
    background: #25a244;
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.Popular .box-container .box h3{
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 600;
    padding: 1.2rem;
    color: #ff004f;
}

.Popular .box-container .box .stars{
    font-size: 2.3rem;
    color: #25a244;
}
/*-----------Populala---------Section-----------End-----------*/





/*-----------Delivery---------Section-----------Start-----------*/
.Delivery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Delivery .box-container .box{
    padding: 2rem;
    background: #ffff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
    border: .1rem solid rgba(0,0,0.3);
    border-radius: .5rem;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
}

.Delivery .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    transition: 0.3s;
}

.Delivery .box-container .box:hover img{
   transform: scale(1.1);
}

.Delivery .box-container .box h3{
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: 600;
    padding: 1rem;
    color: #25a244;
}
/*-----------Delivery---------Section-----------End-----------*/




/*-----------Gallery---------Section-----------Start-----------*/
.Gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Gallery .box-container .box{
    height: 25rem;
    flex: 1 1 30rem;
    border: 1rem solid #25a244;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.Gallery .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Gallery .box-container .box .content{
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.Gallery .box-container .box:hover .content{
   top: 0;
}

.Gallery .box-container .box .content h3{
    font-size: 2.5rem;
    color: #ff004f;
    font-family: sans-serif;
    font-weight: 700;
}

.Gallery .box-container .box .content p{
    font-size: 1.9rem;
    color: #000000;
    padding: .5rem;
    font-weight: 600;
    font-style: italic;
}
/*-----------Gallery---------Section-----------End-----------*/




/*-----------Review---------Section-----------Start-----------*/
.Review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Review .box-container .box{
    text-align: center;
    padding: 2rem;
    border-top: 1rem solid #ffa500;
    border-bottom: 1rem solid #4169e1;
    border-left: 1rem solid #265d5e;
    border-right: 1rem solid #ff004f;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
    border-radius: .5rem;
    flex: 1 1 30rem;
    background: #e4d7d9;
    margin-top: 6rem;
    cursor: pointer;
}

.Review .box-container .box img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #25a244;
    margin-top: -8rem;
    object-fit: cover;
    transition: 0.3s;
}

.Review .box-container .box:hover img{
    transform: scale(1.1);
}

.Review .box-container .box h3{
    font-size: 2.5rem;
    font-family: sans-serif;
    color: #ff004f;
    padding: 1rem;
}

.Review .box-container .box .stars{
    font-size: 2rem;
    color: #25a244;
    padding: 1rem;
}

.Review .box-container .box p{
    font-size: 1.9rem;
    font-weight: 600;
    font-style: italic;
    color: #000;
}
/*-----------Review---------Section-----------End-----------*/




/*-----------Contact---------Section-----------Start-----------*/
.Contact .row{
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
    background: #fff;
    border: 1rem solid #1f4c4d;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Contact .row .image{
    flex: 1 1 30rem;
    border-radius: .5rem;
}

.Contact .row .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.Contact .row form{
    flex: 1 1 50rem;
    padding: 1rem;
}

.Contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.Contact .row form .inputBox input, 
.Contact .row form textarea{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #ff004f;
    text-decoration: none;
    border: .1rem solid rgba(0,0,0.1);
    border-radius: .5rem;
    width: 49%;
}

.Contact .row form input:focus{
    background: #1f4c4d;
}

.Contact .row form textarea:focus{
    color: #25a244;
    font-size: 2rem;
}

.Contact .row form textarea{
    width: 100%;
}

.Contact .row form .btn{
   background: none; 
   width: 100%;
}

.Contact .row form .btn:hover{
    background: #ff004f;
    border: 2px solid lime;
}
/*-----------Contact---------Section-----------End-----------*/




/*-----------Footer--------Section---------Start---------*/
.Footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2.9rem;
    padding: 4rem;
    background: #265d5e;
 }

 .Footer .box-container .box h3{
    font-size: 2.8rem;
    font-family: sans-serif;
    padding: 1rem 0;
    color: #ff004f;
    text-decoration: underline;
 }

 .Footer .box-container .box p{
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
    font-family: sans-serif;
    padding: 1rem 0;
    line-height: 2;
    color: #00ff00;
 }

 .Footer .box-container .box a{
    display: block;
    padding: 1rem 0;
    color: #fff;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.8rem;
    transition: 0.2s;
 }

 .Footer .box-container .box a:hover{
    transform: translateX(5px);
    color: #ff004f;
    font-style: italic;
    text-decoration: underline;
    font-family: none;
 }

 .Footer .box-container .box a i{
    color: #ff004f;
    padding-right: .5rem;
    font-size: 2rem;
 }

 .Footer .share{
    padding-top: 2rem;
    text-align: center;
    margin: auto;
 }

 .Footer .share a i{
    font-size: 2.5rem;
    color: #fff;
    background: #ff004f;
    margin: .3rem;
    border-radius: 50%;
    padding: 1rem;
    border: 2px solid #fff;
   
 }

 .Footer .share a i:hover{
    color: #ffa500;
    transform: scale(1.1);
    background: transparent;
    border: 2px solid #ff004f;
 }

 .credit{
   text-align: center;
   font-size: 3rem;
   font-family: sans-serif;
   font-weight: 600;
   color: #04494a;
   padding: 7rem;
 }

 .credit span{
    color: #ff004f;
 }

 .credit i{
    color: #00ff00;
 }
 /*-----------Footer--------Section---------End---------*/




 /*---------Scroll-------Top------Button------Start---------*/
#scroll-top{
    position: fixed;
    top: -120%;
    right: 2rem;
    padding: .5rem .5rem;
    font-size: 3rem;
    background: #ff004f;
    color: #fff;
    border-radius: .5rem;
    text-decoration: none;
    transition: 1s linear;
    z-index: 1000;
}

#scroll-top.active{
    top: calc(100% - 12rem);
}
/*---------Scroll-------Top------Button------End---------*/




/*--------Loader-container----Button------Start--------*/
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.loader-container.fade-out{
    top: -120%;
}
/*--------Loader-container----Button------End--------*/














































/*--------Mediea---------Screen--------Responsive---------Start--------*/
/*-------Navebar-------Responsive--------Start-------*/
@media screen and (max-width: 1100px){
    html{
        font-size: 55%;
    } 
    
    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
    
}


@media screen and (max-width: 900px){
    #menu-bar{
       display: initial;
    }

    .fa-times{
        transform: rotate(360deg);
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: .4rem solid #ff004f;

        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0,0,0.1);
        border-left: .5rem solid var(--red);
        border-right: .5rem solid #25a244;
        background: #fff;
        text-align: center;
        border-radius: 5px;
    }

    .Home .content h3{
        font-size: 4rem;
        text-align: center;
    }
    
    .Home .content p{
     text-align: center;
     font-size: 2rem;
     font-weight: 600;
    }

    .Home .content .btn{
      margin-left: 25%;
    }


    /*----------Footer--------Responsive--------Start---------*/
    .Footer .box-container .box h3{
        text-align: center;
        padding-top: 5rem;
       }
  
       .Footer .box-container .box p{
          text-align: center;
       }
      
       .Footer .box-container .box a{
          text-align: center;
       }
    /*----------Footer--------Responsive--------End---------*/
}

@media screen and (max-width: 450px){
    html{
        font-size: 50%;
    }
    .Contact .row form .inputBox input{
        width: 100%;
    }
}
/*-------Navebar-------Responsive---------End--------*/
/*--------Mediea---------Screen--------Responsive---------End--------*/